/vendor
/node_modules
.env
composer.lock
.idea
TODO.md
/public/storage
/public/hot
.env.example
.env.testing
.gitattributes
.gitignore
.travis.yml
"LaravelAcl\\Http\\Controllers\\StoreController@deleteEmployee"
gulpfile.js
.gitignore