@media all and (max-width:1199px){

}

@media all and (max-width:991px){

}

@media all and (max-width:767px){
	.navbar-right {padding-left: 15px;}

	.hide-menu{
		display: none;
	}

	.nav>li.toggle-menu,
	.toggle-menu{
		display: block;
	}
}

@media all and (max-width:480px){

}